@font-face {
    font-family: 'Bloody';
    src: url('fonts/BLOODY.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quinthero';
    src: url('fonts/Quinthero.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BLOODY', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d; /* Dunkler Hintergrund */
    justify-content: center;
    text-align: center;
}

header {
    background-color: #0a0a0a; /* Sehr dunkles Grau für den Header */
    color: #00ff00; /* Radioaktives Grün */
    padding: 20px 0;
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
}

header a {
    color: transparent;
    background: url('pictures/placeholder.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0 15px #00ff00; /* Grüner Schlagschatten */
    
}

header h1 {
    text-align: center;
    font-size: 50px;
    margin: 5;
}

nav ul {
    list-style: none; /* Entfernt die Punkte bei den Listenpunkten im Navigationsmenü */
    padding: 10;
    display: flex;
    justify-content: center;
    margin: 10;
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #ff0000; /* Rot */
    text-decoration: none;
}

nav ul li a:hover {
    color: #d0ff00; /* Hellgrün */
    text-decoration: double;
}

main {
    font-family: 'Quinthero', Arial, sans-serif;
    background-color: #1a1a1a; /* Dunkelgrau für den Hauptbereich */
    color: #bcfdbc; /* Radioaktives Grün */
    display: flex;
    margin: 20px;
    border: 5px solid #00ffb3; /* Grauer Rand */
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
    border-radius: 15px;
}

aside {
    background-color: #111111; /* Sehr dunkles Grau für die Seitenleiste */
    color: #aaffaa; /* Radioaktives Grün */
    width: 200px;
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
    margin: 20px;
    border: 5px solid #a6ff00;
    border-radius: 25px;
    justify-content: center;
}

aside h1 {
    font-size: 1.8em;
    color: #00ff00; /* Radioaktives Grün */
}

aside ul {
    list-style: none; /* Entfernt die Punkte bei den Listenpunkten im Seitenmenü */
    padding: 5px;
    margin: 5px;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #ff0000; /* Rot */
}

aside ul li a:hover {
    color: #00ff0d; /* Grüner Hover */
}

section {
    flex: 1;
    background-color: #1a1a1a; /* Dunkelgrau für den Hauptbereich */
    color: #00ff00; /* Radioaktives Grün */
    text-decoration: none;
    padding: 20px;
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
    border: 5px solid #00ff55;
    border-radius: 5px;
    margin: 20px;
}

section h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.creation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.creation-item {
    background-color: #111111; /* Sehr dunkles Grau für die Seitenleiste */
    color: #aaffaa; /* Radioaktives Grün */
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
    border: 5px solid #a6ff00c0; /* Hellgrauer Rand */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.creation-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #0a0a0a; /* Sehr dunkles Grau für den Footer */
    color: #00ff00; /* Radioaktives Grün */
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border: 5px solid #505050; /* Grauer Rand */
    border-bottom: 0px;
    border-radius: 15px;
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
}

hr {
    background-color: #0004ff; /* Sehr dunkles Grau für die Seitenleiste */
    color: #aaffaa; /* Radioaktives Grün */
    box-shadow: 0 0 10px #00ff00; /* Grüner Schlagschatten */
    border: 1px solid #1eff00; /* Hellgrauer Rand */
    border-radius: 2px;
}
